:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

li {
  list-style: none;
}

.link-page {
color: black;
}


.gallery {
  width: 1440px;
  padding: 24px 156px;
  margin: 0 auto;

  background: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  padding: 0px;
  margin-bottom: 24px;
  flex-basis: calc(100% / 3 - 96px);
}

.gallery-item:nth-child(3n) {
  margin-right: 0px;
}

.gallery-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  box-sizing: border-box;
}

/* *************2-Form***************/

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 408px;
  height: 296px;
  margin: 0 auto;
  background-color: #fff;

}

.feedback-form label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form label:first-child {
  margin-bottom: 10px;
}

label input {
  border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}

label textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}